@model Gamerary.Models.Game

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oyun Sil</h1>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.gameName, "Oyun İsmi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gameName)
        </dd>
        <dt>
            @Html.LabelFor(model => model.GamePlatform.platformName, "Platform:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePlatform.platformName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Genre.genre1, "Tür:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.genre1)
        </dd>
        <dt>
            @Html.LabelFor(model => model.publisherName, "Yayıncı Firma İsmi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisherName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.developerName, "Geliştirici İsmi")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.developerName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.releaseDate, "Çıkış Tarihi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releaseDate)
        </dd>

        <dt>
            @Html.LabelFor(model => model.price, "Fiyat ($):")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.LabelFor(model => model.content, "İçerik:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" onclick="silmeKontrol()" value="Sil" class="btn btn-danger" />

        </div>
        <dl>
            <dd>
                <br />
            </dd>
        </dl>
        @Html.ActionLink("Listeye geri dön", "Index", new { id = 1 }, new { @class = "btn btn-success" })
    }
</div>

<script type="text/javascript">
    function silmeKontrol() {
        alert('Oyun Silindi.')
    }

</script>